@charset "utf-8";
a{
    color: black;
}
#navegador ul{
    list-style-type: none;
    text-align: center;
 }
 #navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
 #navegador li a {
    padding: 2px 7px 2px 7px;
    color: (43, 40, 238);
    background-color: #98abff;
    text-decoration: none;
}
#navegador li a:hover{
    background-color: #4e06f5;
    color: #ffffff;
 }

.tarjeta {
    display: inline-block;
    justify-content: space-between;
    width: 420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
}

.pie2 {
    background: darkmagenta;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.pie3 {
    background: greenyellow;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.titulo {
    font-size: 24px;
    padding: 10px 10px 0 10px;
    ;
}

.cuerpo {
    padding: 10px;
}

.pie {
    background: #6699ff;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.pie a {
    text-decoration: none;
    color: white;
}

.pie a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: ""
}

#formulario{
   width: min-content;
}

form {
    background-color: lightblue;
    width: min-content;
    font-family: Georgia;
    padding: 40px;
    width: min-content;
    background-color: aqua;
    color: black;
    margin: 10px;
}

form h3 {
    text-align: center;
    font-size: x-large;
}

#submit {
    background-color: green;
}

#submit:hover {
    background-color: darkgreen;
}

#submit:active {
    background-color: rgb(73, 128, 0);
}

#reset {
    background-color: red;
}

#reset:hover {
    background-color: darkred;
}

#reset:active {
    background-color: rgb(255, 115, 0);
}
table{
    background-color: lightblue;
    color: black;
    display: flex;
    float: right;
}
table, td{
    border: solid #4e06f5;
    width: 500px;
    margin: 10px;
}
footer{
    text-align:center;
    color: white;
    background-color: black;
    position: absolute;
    width: 100%;
    clear: both;
    margin: -10px;
}